.identificacao {
  margin: 50px;
  position: absolute;
  left: 3%;
  top: 5%;
  width: 320px;
  height: 270px;
  padding: 50px;
}

.ola {
  margin-left: -4px;
}

legend {
  font-size: 24px;
  text-align: left;
  margin-left: 20px;
}

label {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

/* Campos de preenchimento */
input[type="text"] {
  width: 200px;
}

/* Caixa do formulário azul */
fieldset {
  background-color: #c0e4eb;
  width: 400px;
  border: none;
  box-shadow: 0 5px 10px rgba(22, 22, 22, 0.2);
  border-radius: 20px;
  height: 315px;
  padding-left: 27px;
}

.campo_nome,
.campo_aniver,
.campo_CPF,
.campo_email,
.campo_telefone,
.campo_endereco {
  background-color: #ebf5f7;
  border-radius: 18px;
  border: 0px;
  padding: 5px;
  margin: 4px;
}

.campo_nome {
  margin-top: 20px;
}

/* Botão de enviar */
.btn_submit {
  border-style: dashed;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ebf5f7;
  margin: 0;
  width: auto;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Comic sans-serif, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  background: radial-gradient(Peachpuff, pink, skyblue);
}

.botao {
  margin-left: 54px;
  margin-top: 100px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(14, 14, 13, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(22, 22, 22, 0.2);
}

.btn-white {
  background-color: #b0e9f9;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 500px;
  margin-top: 200px;
}

nav ul {
  list-style: none;
  padding: 20px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 10px 0;
}

nav ul li a {
  padding: 10px;
  border-radius: 10px;
  background-color: #5306cf;
  color: #f7e6f3;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}

.containerHome {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin-top: 50px; 
}

.imagemHome {
  max-width: 100%;
  height: auto;
}

.textHome {
  float: left;
  width: 50%;
  box-sizing: border-box;
  font-family: Myriad Pro Light;
  line-height: 1.7;
  margin-top: 50px; 
}

.title {
  font-family: Myriad Arabic;
  line-height: 1.2;
  font-weight: bold;
}

p {
  font-size: 16px;
  color: #111010;
  margin: 0px;
}

.logomarca {
  float: left;
  margin-right: 20px;
  height: 130px;
  width: auto;
  margin-top: -86px;
  padding-left: 20px;
}

.textArte {
  margin-top: 60px;
  color: #5306cf;
  margin-left: 155px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}

.image {
  animation: move 5s ease-in-out alternate infinite;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

.background {
  background: url('https://images.pexels.com/photos/1095624/pexels-photo-1095624.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')
    center top no-repeat #252746;
  background-size: cover;
  display: block;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.carousel {
  width: 100%;
  overflow-x: scroll;
  padding: 30px;
  padding-top: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
  display: inline-block;
}

.categories__title {
  color: rgb(77, 55, 102);
  font-size: 28px;
  position: absolute;
  padding-left: 30px;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 70px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.9)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details span {
  font-size: 0.9rem;
  color: #2ecc71;
}

.carousel-item__details .controls {
  padding-top: 180px;
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle {
  color: #fff;
  margin: 5px 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  color: #5306cf;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.contact-info h3 {
  font-size: 24px;
}

.contact-info p {
  font-size: 18px;
}

.contact-info i {
  font-size: 24px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

/* Adicione um estilo básico para telas menores */
@media (max-width: 768px) {
  .item {
    width: 100%; /* Ocupar a largura inteira da tela */
    margin: 10px 0; /* Espaçamento superior e inferior */
  }

  .item img {
    width: 100%; /* Ocupar a largura inteira da tela */
    height: auto; /* Altura automática para evitar distorção */
  }
}

/* Estilos para telas maiores (a partir de 769px) */
@media (min-width: 769px) {
  .item {
    width: calc(30% - 150px);
  }
}

/* Estilos para telas pequenas (até 768px de largura) */
@media (max-width: 768px) {
  .identificacao {
    margin: 10px;
    position: static;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .identificacao legend {
    font-size: 18px;
    text-align: center;
  }
  .identificacao label {
    width: auto;
    display: block;
    text-align: left;
    margin: 5px 0;
  }
  .campo_nome,
  .campo_aniver,
  .campo_CPF,
  .campo_email,
  .campo_telefone,
  .campo_endereco {
    width: 100%;
  }
  .campo_nome {
    margin-top: 10px;
  }
  .fieldset {
    width: 100%;
    padding-left: 10px;
    height: auto;
  }
  .btn_submit {
    position: static;
    transform: none;
    width: 100%;
    margin: 10px 0;
  }
  .nav ul {
    text-align: center;
  }
  .nav ul li {
    display: block;
    margin: 5px 0;
  }
  .containerHome,
  .imagemHome,
  .textHome {
    width: 100%;
    float: none;
    margin: 0;
  }
  .logomarca {
    margin: 0;
    float: none;
    margin-top: 10px;
  }
  .textArte {
    margin: 10px auto;
    text-align: center;
  }
}

/* Estilos para telas médias (768px a 1024px de largura) */
@media (min-width: 768px) and (max-width: 1024px) {
 /* Estilos para telas pequenas (até 768px de largura) */
@media (max-width: 768px) {
  .identificacao {
    margin: 10px;
    position: static;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  
  .ola {
    margin-left: -4px;
  }

  legend {
    font-size: 18px;
    text-align: center;
  }

  label {
    width: auto;
    display: block;
    text-align: left;
    margin: 5px 0;
  }

  /* Campos de preenchimento */
  input[type="text"] {
    width: 100%;
  }

  .campo_nome {
    margin-top: 10px;
  }

  /* Botão de enviar */
  .btn_submit {
    position: static;
    transform: none;
    width: 100%;
    margin: 10px 0;
  }

  .nav ul {
    text-align: center;
  }

  .nav ul li {
    display: block;
    margin: 5px 0;
  }

  .containerHome,
  .imagemHome,
  .textHome {
    width: 100%;
    float: none;
    margin: 0;
  }

  .logomarca {
    margin: 0;
    float: none;
    margin-top: 10px;
  }

  .textArte {
    margin: 10px auto;
    text-align: center;
  }
}

@media (min-width: 1025px) {
  .identificacao {
    margin: 50px;
    position: absolute;
    left: 3%;
    top: 5%;
    width: 320px;
    height: 270px;
    padding: 50px;
  }

  .ola {
    margin-left: -4px;
  }

  legend {
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
  }

  label {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
  }

  /* Campos de preenchimento */
  input[type="text"] {
    width: 200px;
  }

  /* Caixa do formulário azul */
  fieldset {
    background-color: #c0e4eb;
    width: 400px;
    border: none;
    box-shadow: 0 5px 10px rgba(22, 22, 22, 0.2);
    border-radius: 20px;
    height: 315px;
    padding-left: 27px;
  }

  .campo_nome,
  .campo_aniver,
  .campo_CPF,
  .campo_email,
  .campo_telefone,
  .campo_endereco {
    background-color: #ebf5f7;
    border-radius: 18px;
    border: 0px;
    padding: 5px;
    margin: 4px;
  }

  .campo_nome {
    margin-top: 20px;
  }

  /* Botão de enviar */
  .btn_submit {
    border-style: dashed;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ebf5f7;
    margin: 0;
    width: auto;
  }

  .nav ul {
    text-align: center;
  }

  .nav ul li {
    display: block;
    margin: 5px 0;
  }

  .containerHome,
  .imagemHome,
  .textHome {
    width: 100%;
    float: none;
    margin: 0;
  }

  .logomarca {
    margin: 0;
    float: none;
    margin-top: 10px;
  }

  .textArte {
    margin: 10px auto;
    text-align: center;
  }

}
}
